/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  nav {
    background-color: #4A154B;
    color: white;
    padding: 1rem;
  }
  
  nav > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  nav img {
    width: 10vw;
    height: 6vh;
 
  }
  
  nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  nav button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
  }
  header {
    padding: 1rem;
    text-align: center;
    background-color: #4A154B;
  }
  
  header h1 {
    font-size: 8vw;
    margin-bottom: 1rem;
    color:#fff
}

header p {
    margin-bottom: 1rem;
    color:#fff
     
   
    }
      header p span{
          color: orange;
    }
  header div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header button {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
    
    border-radius: 5px;
  }
  .btn2{
    width: 100%;
    background-color:#4285F4;
    display: flex;
  }
  header button img {
    width: 2vw;
    height: 2vh;
    margin-right: 0.5rem;
    background-color: #fff;
  }
  main {
    padding: 0;
   
  }
  
  main section {
   
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .trusted-logos{
    width: 100%;
    background-color:#F3EAE2 ;
    font-weight: bold;
  }
  
  main section div {
   
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:20px;
  }
  
  main section img {
    width: 18vw;
    height: 9vh;
 
    margin: 0.5rem 0;
  }
  
  main section ul {
  
    list-style: none;
    padding: 0;
  }
  
  main section ul li {
    margin-bottom: 1rem;

  }
  .welcome{
    height: 30vh;
    margin: 0;
    background-color: #4A154B;
    color:#fff
  }
  .btn3{
    width: 60%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
   
  }
  footer {
    padding: 1rem;
    background-color: white;
    color: #454245;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    font-weight: bold;
  }
  
  footer ul li {

    margin-bottom: 0.5rem;
  }
  
  footer hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 1rem 0;
  }
  .fab{
display: flex;
justify-content: space-between;
  
  }
  footer .fab {
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  
  footer small {
    display: block;
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .blue-li{
    color:#4285F4;
  }
  @media (min-width: 768px) {
 
    nav ul {
      display: flex;
      flex-direction: row;
    }
  
    header {
        background-color: #4A154B;
      text-align: left;
      padding: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    header div {
      flex: 1;
    }
  
    header img {
      max-width: 50%;
    }
  
    main section div {
      flex-direction: row;
      justify-content: center;
    }
  
    main section ul {
      display: flex;
      justify-content: space-around;
    }
  
    main section ul li {
      margin: 0 1rem;
    }
  
    footer ul {
      display: flex;
      justify-content: center;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    header {
      text-align: left;
      padding: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    header > div:first-child {
      flex: 1;
      align-items: flex-start;
      text-align: left;
      margin-bottom: 0;
    }
  
    header > div:last-child {
      max-width: 80%;
    }
    header >div img{
        width: 100%;
    }
  
    
    main .trusted-logos div {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    main .trusted-logos img {
      margin: 0.5rem;
      max-width: 20%;
  
   
    main section:nth-of-type(2) ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    main section:nth-of-type(2) ul li {
      margin-bottom: 0;
      margin: 1rem;
      flex: 1;
      text-align: left;
    }
  
    main section:nth-of-type(2) ul li p:first-of-type {
      font-size: 2rem;
      font-weight: bold;
    }
  
 
    footer ul {
      display: flex;
      justify-content: center;
    }
  
    footer ul li {
      margin-bottom: 0;
      margin: 0 0.5rem;
    }
  }
  }